.searchBox {
    margin-top: 100px;

    .searchInput {
        width: 100%;
        display: flex;
        align-items: center;
        background: #fff;
        padding: 4px 0;
        border-radius: 45px;
        box-shadow: 0px 0px 50px -3px rgba(0, 0, 0, 0.1);

        input {
            width: 80%;
            border: none;
            padding: 7px 0;
            direction: ltr;
        }

        input:focus {
            outline: none;
        }

        i {
            width: 10%;
            text-align: center;
            font-size: 22px;
            color: #fbbc05;
        }
    }
}

.searchBoxProposal {
    margin-top: 100px;
    background: #fff;
    box-shadow: 0px 0px 50px -3px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    text-align: left;

    .searchInput {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 4px 0;


        input {
            width: 80%;
            border: none;
            padding: 7px 0;
            direction: ltr;
            font-size: 16px;
            font-weight: 500;
        }

        input::placeholder {
            font-size: 16px;
            font-weight: 500;
            color: #34a85384;
        }

        input:focus {
            outline: none;
        }

        i {
            width: 10%;
            text-align: center;
            font-size: 22px;
            color: #fbbc05;
        }

        .fa-x {
            cursor: pointer;
        }
    }

    .searchProposal {
        padding: 5px 19px;
        direction: ltr;
        height: 260px;
        overflow: overlay;
    }

    .searchProposal::-webkit-scrollbar {
        width: 1px;
    }

    .searchProposal::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);

    }

    .searchProposal::-webkit-scrollbar-thumb {
        background-color: #5f6368;
        // outline: 1px solid rgb(0, 0, 0);
        height: auto;
    }
}