@import url(assets/fonts/Bakh-new/style.css);

* {
    font-family: iranyekanBakh;
}

body {
    direction: rtl !important;
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: "iranyekanBakh";
    color: #fff;
}